@charset 'utf-8';

*{
	border:0;
	box-sizing:border-box;
	padding:0;
	margin:0;
}

body{
	background-color:#4CAF50;
	min-width:1920px;
	min-height:1080px;
	background-repeat:no-repeat;
	background-size:cover;
	overflow-x:hidden;
	overflow-y:hidden;
	font-family:'Noto Sans KR', sans-serif;
}
.wrap{
	position:fixed;
	top:50%;
	left:50%;
	width:100%;
	height:100%;
	transform:translate(-50%,-50%);
}
.intro-tab{
	position:fixed;
	top:50%;
	left:50%;
	display:flex;
	flex-direction:column;
	width:70%;
	min-height:33%;
	background:#FFF;
	transform:translate(-50%,-50%);
}
.tab-menu{
	display:flex;
	flex-direction:row;
}
.tab-link{
	flex:1;
	padding:4px 0px;
	font-size:1rem;
	color:#333;
}
.tab-link:hover{
	color:#FFF;
}
.tab-link#link-home{
	flex:1;
	background-color:darkorange;
}
.tab-link#link-timer{
	flex:1;
	background-color:darkolivegreen;
}
.tab-link#link-scripter{
	flex:1;
	background-color:darkkhaki;
}
.tab-link#link-loader{
	flex:1;
	background-color:darkgoldenrod;
}
.tab-link#link-option{
	flex:1;
	background-color:darkcyan;
}
.tab-wrap{
	flex:1;
}
.tab{
	padding:4px 10px;
}
.tab-title{
	padding:12px 8px;
	font-size:1.25em;
	font-weight:600;
}
.tab-row{
	padding:4px 14px;
}
.tab-row>select{
	border:2px solid #4CAF50;
	padding:4px 10px;
	font-family:inherit;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}
.tab-row>select::-ms-expand{
	display:none;
}
.tab-row>select>option{
	color:#4CAF50;
}
.tab-row>label{
	display:inline-block;
	margin:4px 10px;
	font-size:1.1rem;
}
.tab-row>label#mergeInExL{
	display:none;
}
.tab-row input[type=number]{
	padding:4px;
	background:#E0E0E0;
	text-align:right;
	font-size:1.2rem;
}
.tab-file{
	padding:4px 24px;
}
.tab-file>input[type="file"]{
	position:absolute;
	width:0;
	height:0;
	border:0;
	padding:0;
	overflow:hidden;
}
.tab-file>label{
	display:block;
	width:100%;
	padding:4px 0;
	background:#4CAF50;
	text-align:center;
	font-size:1rem;
	color:#FFF;
	cursor:pointer;
}

.paras-add{
	width:100%;
	padding:4px 0px;
	background:#4CAF50;
	text-align:center;
	font-size:1.2rem;
	color:#FFF;
}
.paras-list{
	max-height:240px;
	overflow-y:auto;
}
.paras-g{
	display:flex;
	flex-direction:row;
	margin:5px 0px;
}
.paras{
	flex:1;
	width:100%;
	padding:4px 14px;
	background:#E7E7E7;
	font-size:1.2rem;
}
.paras-del{
	flex-grow:0;
	width:1.2rem;
	padding:0px 16px 0px 6px;
	background-color:firebrick;
	text-align:left;
	font-size:1.2rem;
	color:#FFF;
}





.tab-set{
	display:flex;
	flex-direction:row;
}
.tab-set>button{
	flex:1;
	padding:6px 0px;
}
.tab-reset{
	background-color:darkgray;
}
.tab-start{
	background-color:mediumseagreen;
}






.main-wrap{
	position:fixed;
	top:50%;
	left:50%;
	display:flex;
	flex-direction:column;
	width:100%;
	height:100%;
	transform:translate(-50%,-50%);
}
.exc-padding{
	flex:1;
}
.exercise{
	flex:4;
	margin:auto;
}
.ribcage{
	width:50vh;
	height:50vh;
	border-radius:100%;
	background:rgba(255,255,255,0.4);
	transform:translate(0%,0%);
}
.lungs{
	position:relative;
	top:0%;
	left:0%;
	width:100%;
	border-radius:100%;
	padding-top:100%;
	margin:0 auto;
	background:#FFF;
	text-align:center;
	transform:translate(0%, 0%);
/*	animation:brt 5s infinite;*/
}
.lungs-play{
	position:absolute;
	top:50%;
	left:50%;
	border-radius:50%;
	text-align:center;
	font-size:5rem;
	color:#4CAF50;
	transform:translate(-50%, -50%);
}
#lungs>#brt-start{
	display:block;
}
#lungs>#brt-replay{
	display:none;
}
.subtitle{
	flex:2;
	text-align:center;
	font-size:6vh;
	color:#FFF;
	transform:translate(0%,0%);
}
@keyframes brt{
	0%{
		width:10%;
		padding-top:10%;
	}
	50%{
		width:100%;
		padding-top:100%;
	}
	100%{
		width:10%;
		padding-top:10%;
	}
}










