@charset "utf-8";


/*
#04AA6D, #46A049
#2196F3, #0B7DDA
#FF9800, #E68A00
#F44336, #DA190B
#E7E7E7, #DDDDDD
*/
*{
	border:0;
	box-sizing:border-box;
	padding:0;
	margin:0;
}
body{
	min-width:1920px;
	min-height:1080px;
	background-repeat:no-repeat;
	background-size:cover;
	overflow-x:hidden;
	overflow-y:hidden;
	font-family:'Noto Sans KR', sans-serif;
}
@-webkit-keyframes chaos{
	0%{background-color:#45a3e5}
	17%{background-color:#3cc}
	34%{background-color:#66bf39}
	51%{background-color:#ffa602}
	67%{background-color:#eb670f}
	84%{background-color:#f35}
	100%{background-color:#864cbf}
}
@keyframes chaos{
	0%{background-color:#45a3e5}
	17%{background-color:#3cc}
	34%{background-color:#66bf39}
	51%{background-color:#ffa602}
	67%{background-color:#eb670f}
	84%{background-color:#f35}
	100%{background-color:#864cbf}
}
.chaos{
	-webkit-animation:chaos 20s infinite;
	animation:chaos 20s infinite;
	-webkit-animation-direction:alternate;
	animation-direction:alternate;
	background-color:#45a3e5;
}
.wrap{
	position:fixed;
	top:50%;
	left:50%;
	width:100%;
	height:100%;
	background:#4CAF50;
	transform:translate(-50%, -50%);
	transition:1s;
}
.wrap#intro{
	display:block;
}
.wrap#main{
	display:none;
}
.wrap-intro{
	display:flex;
	flex-direction:row;
	width:100%;
	height:100%;
}
.intro-padding{
	flex:2;
}
.intro-wrap{
	flex:6;
	display:flex;
	flex-direction:column;
	height:100%;
	
}
.intro-wrap-padding{
	flex:3;
}
.intro-header{
	flex:1;
	text-align:center;
	color:#FFF;
}
.intro-header>h1{
	font-weight:bold;
	font-size:2.4rem;
}
.intro-header>h2{
	margin-top:-5px;
	margin-bottom:10px;
	font-weight:lighter;
	font-size:1.2rem;
}
.intro-body{
	flex:8;
	display:flex;
	flex-direction:column;
	width:100%;
	background:rgba(255,255,255,0.6);
}
.intro-menu{
	display:flex;
	flex-direction:row;
	width:100%;
}
.menu-link{
	flex:1;
	padding:14px 0px;
	background:rgba(255,255,255,0);
	font-size:1rem;
}
/*
.menu-link:nth-child(1){ background:#DDD; }
.menu-link:nth-child(2){ background:#CCC; }
.menu-link:nth-child(3){ background:#BBB; }
*/
.intro-form-wrap{
	flex:auto;
	display:flex;
	flex-direction:column;
}
.intro-form{
	flex:9;
}
.intro-form#timer{ display:block; }
.intro-form#scripter{ display:none; }
.intro-form#option{ display:none; }
.form-col{
	display:flex;
	flex-direction:row;
	padding:4px 14px;
}
.form-col>label{
	flex:1;
	text-align:center;
}
.col-name{
	flex:5;
	text-align:right;
}
.col-padding{
	flex:1;
	text-align:center;
}
.col-numset{
	flex:5;
	display:flex;
	flex-direction:row;
	text-align:left;
}
.col-numset>button{
	flex:1;
	color:#FFF;
}
.col-numset>button:first-child{
	background-color:red;
}

.col-numset>p{
	flex:2;
	text-align:center;
}
.col-numset>p>i{
	font-style:normal;
}
.col-numset>button:last-child{
	background-color:green;
}
/* switch */
.switch{
	position:relative;
	display:inline-block;
	width:60px;
	height:34px;
}
.switch input{ 
	opacity:0;
	width:0;
	height:0;
}
.slider{
	position:absolute;
	cursor:pointer;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#ccc;
	-webkit-transition:.4s;
	transition:.4s;
}
.slider:before{
	position:absolute;
	content:"";
	height:26px;
	width:26px;
	left:4px;
	bottom:4px;
	background-color:white;
	-webkit-transition:.4s;
	transition:.4s;
}
input:checked + .slider{
	background-color:#2196F3;
}
input:focus + .slider{
	box-shadow:0 0 1px #2196F3;
}
input:checked + .slider:before{
	-webkit-transform:translateX(26px);
	-ms-transform:translateX(26px);
	transform:translateX(26px);
}
.slider.round{
	border-radius:34px;
}
.slider.round:before{
	border-radius:50%;
}
/* radio group */
.col-radio-g{
/*	flex:1;*/
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	margin:auto;
	transition:0.4s;
}
.col-radio-g>label{
/*	flex:1;*/
	position:relative;
	display:block;
	padding:0 0.5em;
	text-align:center;
	vertical-align:middle;
	white-space:nowrap;
	cursor:pointer;
	user-select:none;
}
.col-radio-g>label>input{
	position:absolute;
	opacity:0;
	cursor:pointer;
}
.col-radio{
	position:relative;
	display:inline-block;
	width:1vw;
	border-radius:50%;
	background:#FFF;
	border-radius:50%;
	transition:0.4s;
}
.col-radio>i{
	content:"";
	position:relative;
	top:50%;
	left:50%;
	display:block;
	width:100%;
	border-radius:50%;
	padding-top:100%;
	transform:translate(-50%, 0%) scale(-50%);
	transition:0.4s;
	z-index:5;
}
.col-radio-g>label:hover input ~ .col-radio{
	background-color:#CCC;
}
.col-radio-g>label>input:checked ~ .col-radio{
	background-color:#2196F3;
}
.col-radio-g>label>input:checked ~ .col-radio>i{
	background-color:#FFF;
}
.col-radio-g>label>p{
	display:inline-block;
	padding:0 10px 0 4px;
	transform:translate(0%, -25%);
}


.intro-alltime{
	padding:14px 0px;
	background:rgba(255,255,255,0.5);
	text-align:center;
	font-size:1.1em;
}
#alltime{
	font-style:normal;
}
.intro-ready{
	display:flex;
	flex-direction:row;
}
.intro-ready>button{
	flex:1;
	padding:16px 0px;
	font-weight:bold;
	font-size:1rem;
	color:#FFF;
}
.intro-ready>button:nth-child(1){
	background:rgba(255,51,85,0.5);
}
.intro-ready>button:nth-child(2){
	background:rgba(76,175,80,0.5);
	
}








.main-wrap{
	display:flex;
	flex-direction:column;
	width:100%;
	height:100%;
	text-align:center;
}
.main-padding{
	flex:1;
}
.respiratory{
	flex:2;
	display:flex;
	background:rgba(255,255,255,0.7);
}
.ribcage{
	display:flex;
	width:500px;
	border-radius:100%;
	margin:0 auto;
	background:rgba(255,255,255,0.5);
}
.lungs{
	flex:1;
	position:relative;
	width:100%;
	border-radius:100%;
	padding-top:100%;
	margin:0 auto;
	background:#FFF;
}
.lungs-play{
	position:absolute;
	top:50%;
	left:50%;
	text-align:center;
	font-size:5rem;
	color:#4CAF50;
	transform:translate(-50%, -50%);
}
.lungs-play#brt-start{
	display:block;
}
.lungs-play#brt-replay{
	display:none;
}
.subtitle-wrap{
	flex:1;
	background:rgba(255,255,255,0.5);
}










