@charset "utf-8";

*{
	border:0;
	box-sizing:border-box;
	padding:0;
	margin:0;
}
::-moz-selection {
	background:#FFD;
	color:#24190f;
}
::selection {
	background:#FFD;
	color:#24190f;
}
body, html{
	background:#753;
}

.gh{
	width:100%;
	padding:4px 14px;
	background:#FFD;
	color:#24190f;
}
#qdSB{
	padding:4px 14px;
	background:#24190f;
	font-size:1rem;
	color:#FFD;
}
#qdPN, #qdPR, #qdPS{
	padding:4px 14px;
	background:#24190f;
	font-size:1rem;
	color:#FFD;
}

.gt{
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
#gs{
	position:absolute;
	top:30%;
	left:50%;
	transform:translate(-50%,-50%);
}
#gs>p, #gs>h1, #gs>h2, #gs>h3 {
	padding-left:0.2rem;
	padding-right:0.2rem;
	padding-bottom:0.2rem;
	color:#FFD;
}
.qdTh{
	
}
.qdTs{
	
}
.qdTs:nth-child(2n-1) {
	
}
.qdTs:nth-child(2n) {
	display:flex;
	flex-direction:row;
}
.qdTs:nth-child(2n-1)>.qdTp{
	flex-direction:row;
	position:relative;
	top:0%;
	left:50%;
	width:480px;
	transform:translate(-50%, 0%);
}
.qdTs:nth-child(2n)>.qdTp{
	flex:1;
	flex-direction:column;
}
.qdTs:nth-child(2n-1)>.qdTp>.qdTw{
	flex-direction:row;
}
.qdTs:nth-child(2n-1)>.qdTp>.qdTw>p{
	width:15px;
	height:40px;
}
.qdTs:nth-child(2n)>.qdTp>.qdTw{
	flex-direction:column;
}
.qdTs:nth-child(2n)>.qdTp>.qdTw>p{
	width:40px;
	height:15px;
}
.qdTp{
	display:flex;
	background:#FFD;
	text-align:center;
}
.qdTp>p{
	flex:1;
	color:#24190f;
}
.qdTw{
	flex:1;
	display:flex;
	background:#733;
}
.qdTw>p{
	margin:10px;
	background:#FFD;
}
.qdTb{
/*	flex:3;*/
	display:flex;
	flex-direction:column;
	width:480px;
	height:480px;
}
.qdTr{
/*	flex:1;*/
	display:flex;
	flex-direction:row;
}
.qdTd{
/*	flex:1;*/
	width:40px;
	height:40px;
	text-align:center;
	font-family:serif;
	font-weight:bolder;
}
.qdTr:nth-child(2n) {
	height:15px;
}
.qdTd:nth-child(2n) {
	width:15px;
}
/* Style*/
.qdTr:nth-child(2n-1)>.qdTd:nth-child(2n-1){
	background:#330;
}

/*wall tile Style*/
.qdTr:nth-child(2n)>.qdTd:nth-child(2n-1), .qdTr:nth-child(2n-1)>.qdTd:nth-child(2n) {
	background:#573c22;
}
/*wall style*/
.qdTr:nth-child(2n)>.qdTd:nth-child(2n-1).wall, .qdTr:nth-child(2n-1)>.qdTd:nth-child(2n).wall, .qdTr:nth-child(2n)>.qdTd:nth-child(2n).wall {
	background:#FFD;
}

/*FINL Style*/
.qdTr:nth-child(2n)>.qdTd:nth-child(2n){
	background:#753;
}


/*Players Style*/
.qdTd>.qdPlayer{
	position:relative;
	top:50%;
	left:50%;
	width:25px;
	height:25px;
	border:3px solid #ffeaba;
	border-radius:50%;
	background:#2196F3;
	transform:translate(-50%, -50%);
}
.qdTd>.qdPlayer#p1{background:#24190f;}
.qdTd>.qdPlayer#p2{background:#FFD;}
.qdTd>.qdPlayer#p3{background:#753;}
.qdTd>.qdPlayer#p4{background:#773333;}

